body {
    background-color: #212124; /* Not too dark */
    /* background-color: #161618; Darker ???  */
    color: rgb(215, 215, 215);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

h1 {
    margin: 30px;
    text-align: center;
}

.disabled {
    background-color: #8d8d8d;
    color: linen;
    opacity: 0.5;
    pointer-events: none;
}

.content_root {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    box-shadow: 2px 2px rgb(27, 27, 27);
}

.lesson_path {
    background-color: rgba(240, 248, 255, 0.255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 130px;
    border: 1px solid rgb(53, 53, 53);
}

.content_header {
    background-color: rgb(119, 119, 119);
    color: #e7e7e7;
    text-align: center;
    width: 310px;
    border: 1px solid rgb(37, 37, 37);
}

.lesson_path a {
    color: rgb(222, 222, 222);
}