body {
    background-color: #212124;
    color: rgb(215, 215, 215);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

h1 {
    text-align: center;
}

.emarket_root {
    display: flex;
    margin: 20px;
}

#categories_block,
#product_list_block,
#product_info_block {
    border: 2px solid rgb(173, 173, 173);
    box-sizing: 10px 10px;
    width: 400px;
}

.block_header {
    background-color: rgb(50, 50, 50);
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.items {
    background-color: rgb(102, 102, 102);
    margin: 21px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px rgb(30, 30, 30);
}

.product_information {
    background-color: rgb(102, 102, 102);
    text-align: center;
    margin: 21px;
    padding: 20px;
    border: 1px solid black;
}

.buy_product {
    box-shadow: 5px 5px rgb(30, 30, 30);
    color: rgb(215, 215, 215);
    font-weight: bolder;
}
